<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <trustpilotwidgets>
            <general>
                <enable>1</enable>
                <trustpilot_business_unit_id>########################</trustpilot_business_unit_id>
            </general>
        </trustpilotwidgets>
    </default>
</config>
